body {
    background-color: #eeeeee;
    transition: background-color 0.3s, color 0.3s;
  }

body.dark-mode {
    background-color:#121212;
    color: #fff;
    transition: background-color 1s, color 1s;
  }
  
body.dark-mode a {
    background-color:#121212;
    color: #fff;
    transition: background-color 1s, color 1s;
  }

.REFE {
    color: #121212;
    font-weight:bolder;
    text-decoration: none;
  }