/* Estilo geral */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode a {
    background-color: #121212;
    color: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

/* tags */
.conteiner {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.subconteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.subconteiner span {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    background-color:rgba(16, 72, 16, 0.355);
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.subconteiner span:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .conteiner {
        padding: 10px;
    }

    .subconteiner span {
        font-size: 12px;
        padding: 6px 10px;
    }
}

/* botão do topico */
.new-topic {
    font-size: 17px;
    padding: 8px 12px;
    color: rgb(33, 32, 32);
    background-color: #eeeeee;
    border:2px solid #555858;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.new-topic:hover {
    transform: scale(1.05);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.info h2 {
    margin: 0;
    font-weight: 600;
}

@media (max-width: 600px) {
    .info h2 {
        font-size: 20px;
    }
    .new-topic {
        font-size: 12px;
        padding: 6px 10px;
    }
}

  


/* Estilo do conteúdo principal */

.discursao-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.discursao-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.topicos ul {
    padding: 0;
    margin: 0;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-contento {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}
.modal-header {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 2px;
}
.fechar_modal {
    color: #aaa;
    font-size: 18px;
    font-weight: bold;
    background-color: none;
    border: none;
    cursor: pointer;
    left: 10px;
}
.modal form {
    display: flex;
    flex-direction: column;
}
.modal label {
    margin-bottom: 5px;
    font-size: 14px;
}
.modal input, .modal button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.buttonn {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
.buttonn:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}