body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f0;
}

header {
    background: #3b8b3a; /* Verde escuro */
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 600px;
}

.icone-perfil {
    font-size: 24px; /* Tamanho do ícone de perfil */
    margin-right: 10px;
}

.barra-pesquisa input[type="text"] {
    padding: 10px;
    width: 60%; /* Reduzido para dar espaço ao ícone */
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordas arredondadas */
}

.barra-pesquisa .botao-buscar {
    padding: 5px; /* Diminuído o padding */
    background: transparent; /* Fundo transparente */
    color: #3b8b3a; /* Texto verde escuro */
    border: none; /* Sem bordas */
    cursor: pointer;
    font-size: 20px; /* Diminuído o tamanho do ícone */
    margin-left: 10px; /* Espaço entre o input e o botão */
    transition: color 0.3s;
}

.barra-pesquisa .botao-buscar:hover {
    color: #66c46f; /* Verde claro ao passar o mouse */
}

.tags {
    text-align: center;
    margin: 20px 0;
}

.tag {
    display: inline-block;
    background: #66c46f; /* Verde claro */
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px; /* Bordas arredondadas */
    margin-right: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.tag:hover {
    background: #3b8b3a; /* Verde escuro ao passar o mouse */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.topicos {
    margin-bottom: 20px;
}

.topicos h2, .novo-topico h2 {
    color: #3b8b3a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

li h3 {
    margin: 0 0 5px;
    color: #3b8b3a;
}

li a {
    color: #3b8b3a; /* Cor verde escura */
    text-decoration: none; /* Remove o sublinhado */
}

li a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

li .tags {
    margin-top: 10px;
}

form {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
}

button[type="submit"] {
    background: #3b8b3a;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background: #66c46f; /* Verde claro */
}