body.dark-mode {
    background-color:#121212;
    color: #fff;
  }
  
  body.dark-mode a {
    background-color:#121212;
    color: #fff;
  }
  
  body {
    background-color: #eeeeee;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.headera {
    background: #3b8b3a;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 900px;
    order:3;
}

.barra-pesquisa input[type="text"] {
    background-color: #BEDC74;
    border-color: #BEDC74;
    padding: 10px;
    width: 60%; 
    border-radius: 9px;  
}

.perfil img{
    width: 40px;
    margin-right: 20px;
    margin-bottom: 5px;
    order:2;  
}

.lupa {
    background-color: transparent; 
}

.barra-pesquisa .botao-buscar {
    max-width: 50px;
    max-height: 50px;
    padding: 8px;
    color: #3b8b3a;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    transition: color 0.3s;
    order:4;
}

.barra-pesquisa .botao-buscar:hover {
    color: #f0f4f0;
}

.tags {
    text-align: center;
    margin: 20px 0;
}

.tag {
    display: inline-block;
    background: #D4E4D7;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.tag:hover {
    background: #3b8b3a;
}

.maainha {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.topicos {
    margin-bottom: 20px;
}

.topicos h2, .novo-topico h2 {
    color: #3b8b3a;
}

.topics {
    list-style-type: none;
    padding: 0;
}

.topics li {
    background: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.topics li h3 {
    margin: 0 0 5px;
    color: #3b8b3a;
}

.topics li a {
    color: #3b8b3a;
    text-decoration: none;
}

.topics li a:hover {
    text-decoration: underline;
}

.topics li .tags {
    margin-top: 10px;
}

.novo-topico form {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.labela {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    height: 100%;
}

.tagsname, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.novo-topico button {
    background: #3b8b3a;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.novo-topico button:hover {
    background: #66c46f;
}