body.dark-mode {
  background-color:#121212;
  color: #fff;
}

body.dark-mode a {
  background-color:#121212;
  color: #fff;
}

body {
  background-color: #eeeeee;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* Estilo do cabeçalho */
.headera {
  display: flex;
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 15px 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.gh1 {
  margin: 0;
  flex-grow: 1; /* Faz com que o título ocupe o espaço restante */
  text-align: center; /* Centraliza o texto */
  order: 2;
}


/* Estilo das seções */
section {
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

 .gh2 {
  margin-top: 0;
  color: #4CAF50; /* Verde */
}

/* Estido do grafico */
.Graph {
  width: 43%;
  display: inline-block;
  margin: 30px;
}

.gag {
  left: 20px;
  top: 20px;
  display: inline-block;
  margin-top: 10px;
  color: #4CAF50;
  text-decoration: none;
  border: 1px solid #4CAF50;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
}

.gag:hover {
  background-color: #4CAF50;
  color: white; /* Texto branco ao passar o mouse */
}

/* Estilo para o modal */
.modall {
  display: none; /* Escondido por padrão */
  position: fixed; /* Fica em cima da página */
  z-index: 1; /* Fica na frente */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Habilita scroll se necessário */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com opacidade */
}

.modal-contentt {
  background-color: #fff;
  margin: 10% auto; /* 10% do topo e centralizado */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Largura do modal */
  max-width: 500px; /* Largura máxima do modal */
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.closee {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closee:hover,
.closee:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo do formulário */
#reminderForm label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

#reminderForm input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s; /* Efeito de transição */
}

#reminderForm input:focus {
  border-color: #4CAF50; /* Mudança de cor ao focar */
  outline: none; /* Remove o contorno padrão */
}

.reminderForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Efeito de transição */
}

.reminderForm button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

/* Estilo da área de perfil */
.perfil-info {
    display: flex; /* Flexbox para alinhar a foto e os detalhes */
    align-items: center; /* Alinha verticalmente ao centro */
}

.perfil-details {
    flex-grow: 1; /* Para que os detalhes ocupem o espaço restante */
}

.upload-label {
    display: inline-block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    border: 1px solid #4CAF50;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.upload-label:hover {
    background-color: #4CAF50;
    color: white; /* Texto branco ao passar o mouse */
}

 /* Style do modal */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Form .form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Form .form-rowb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input[type="file"] {
  margin: auto;
  padding-top:10px ;
  cursor: pointer;
}

input[type="text"], 
input[type="tel"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.cffoto {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  margin-top: 2px;
  margin: auto;

}

.form-rowb button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.form-rowb button:hover {
  background-color: #45a049;
}

#logoutBtn {
  background-color: #f44336; 
}

#logoutBtn:hover {
  background-color: #e53935;
}

#email_user {
  font-size: 18px;
  color: black;
  font-weight: 450;
  text-align: center;
  margin-bottom: 20px;
}

.edit {
  border: none;
}

@media (max-width: 600px) {
  .modal-content {
      width: 90%;
  }

  .form h2 {
      font-size: 20px;
  }
}

@media (max-width: 1000px){
  .compostagem-actions{
    padding: 0;
    margin: 0;
  }
  .Graph{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}