:root {
    --amarelinho: #EDD188;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .links li {
    list-style: none;
  }
  
  .dropdown_menu li {
    list-style: none;
  }
  
  .links a:hover {
    color: var(--amarelinho);
  }
  
  .navbarmain {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px groove black;
    margin-bottom: 0.1%;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .links {
    font-weight: 500;
  }
  
  .navbar .toggle_bnt{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  

  .action_bnt {
    background-color: var(--amarelinho);
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight:bold ;
    cursor: pointer;
    transition: scale 0.2 ease ;
    text-decoration: none;
    
  }
  
  .action_bnt:hover {
    scale: 1.05;
    color: #fff;
  }
  
  .action_bnt:active{
    scale: 0.95;
  }
  
    /* ITEMS MENU */
  .dropdown_menu {
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 280px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown_menu.open {
    height: 50px;
    z-index: 10000;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_bnt {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* RESPONSIVIDADE */
  @media (max-width: 992px) {
    .navbar .links,
    .navbar .action_bnt {
      display: none;
    }
  
    .navbar .toggle_bnt {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  
  @media (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }


  /* footer... */