@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --amarelinho: #EDD188;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .links li {
  list-style: none;
}

.dropdown_menu li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.links a:hover {
  color: var(--amarelinho);
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px groove black;
  margin-bottom: 0.1%;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: auto;
}

.links {
  font-weight: 500;
}

.navbar .toggle_bnt{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_bnt {
  background-color: var(--amarelinho);
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight:bold ;
  cursor: pointer;
  transition: scale 0.2 ease ;
}

.action_bnt:hover {
  scale: 1.05;
  color: #fff;
}

.action_bnt:active{
  scale: 0.95;
}

  /* ITEMS MENU */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 280px;
  background: #fff;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 160px;
  z-index: 1;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_bnt {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_bnt {
    display: none;
  }

  .navbar .toggle_bnt {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

 /* Style do modal */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile-picture {
    display: none;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 2px solid #4CAF50;
    cursor: pointer;
}

.form h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Form .form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Form .form-rowb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input[type="file"] {
  margin: auto;
  padding-top:10px ;
  cursor: pointer;
}

input[type="text"], 
input[type="tel"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.cffoto {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  margin-top: 2px;
  margin: auto;

}

.form-rowb button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.form-rowb button:hover {
  background-color: #45a049;
}

#logoutBtn {
  background-color: #f44336; 
}

#logoutBtn:hover {
  background-color: #e53935;
}

#email_user {
  font-size: 18px;
  color: black;
  font-weight: 450;
  text-align: center;
  margin-bottom: 20px;
}

.edit {
  border: none;
}

@media (max-width: 600px) {
  .modal-content {
      width: 90%;
  }

  .form h2 {
      font-size: 20px;
  }
}
/* <--> */

/* Rodapé */
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 19px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  max-width: 100px;
}

.footer-content h2 p {
  margin: 15px 0;
}

.social-icons i {
  padding: 5px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social-icons a:hover {
  text-decoration: none;
  color: var(--amarelinho);
}

.copyright {
  text-align: center;
  align-items: center;
  font-size: 12px;
  margin-top: 3px;
}

.font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}