/*  expansão */
@media (max-width: 1500px) {
  .desktop .card {
    display: none;
  }
}
/* ---------- */

/* Cores */

:root {
  --cores-fundo: #E5E5E5;
  --marcadores: #F6E96B;
  --rodape: black;
  --links: #7952e5;
  --cabecalho: #dbbdbf;
  --background: #387F39;
  --background1: #A2CA71;


  --color-gradient: linear-gradient(88deg, var(--background), var(--background1), var(--marcadores));
}
/* ---------- */

/* Geral */
* {
  margin: 0 20%;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* ---------- */

/* Banner */
.responsive {
  width: 385px;
  height: 227px;
  object-fit: initial;
  object-position: right;
 
}
.cabecalho {
display: flex;
justify-content: right;
align-items: center;
text-align: center;
background: var(--color-gradient);
margin: 0 20%;
}


/* ---------- */

/** margin no mobile - index */
@media screen and (max-width: 650px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  .cabecalho {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    background: var(--color-gradient);
    margin: 0
    }
}
/* ---------- */

/* Nav bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.7rem;
    text-align: center;
    border-bottom-style:outset black;
    border-radius: 3px;
    /* position: absolute;
    top: 0;
    width: 100%; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.6rem;
    margin-right: 2rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #2f363e;
    font-weight: bold;
    align-items: center;
}

.nav-link:hover{
    color: var(--links)
}

.nav-logo {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--background);
    text-decoration: none;
    padding-left: 100px;
}

/* Menu hambúrguer */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/* Media queries -hambúrguer */

@media only screen and (max-width: 650px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-logo {
    padding-left: 0;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
/* ---------- */

/* tópicos */
.Topicos h2 {
  background-color: var(--marcadores);
  height: 20px;
  width: 100px;
  text-align: center;
  padding: auto;
}

.Topicos {
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  background-color: var(--marcadores);
  margin-bottom: 20px;
}

/* ---------- */

p {
  padding: 10px 100px;
  text-align: center;
  text-align: justify;
  font-size: 28px;
}

h2, p {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 583px) {
  p {
    text-align: center;
    font-size: 27px;
    padding: 10px 50px;
    text-align: justify;
    font-size: 20px;
  }
 .Topicos {
  font-size: 29px;
 }

}
/* ---------- */

/* Figure posição */
.figure {
  display: flex;
  justify-content: space-around;
}
/* ---------- */

/* Rodapé */
footer {
  background-color: var(--rodape);
  color: white;
  padding: 19px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  max-width: 100px;
}

.footer-content h2 p {
  margin: 15px 0;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.social-icons a:hover {
  text-decoration: none;
  color: var(--links);
}

.copyright {
  text-align: center;
  align-items: center;
  font-size: 7px;
  margin-top: 25px;
}
/* ---------- */

/* Cads Noticias */
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 16px;
}
/*? Formatação do card */
.cards_item {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
  padding: 1rem;
  background: linear-gradient(70deg, #A2CA71 40%, #387F39 100%);  
}


/*? Imagem do card */
.card_image {
  width: 350px;

}

/*? titulo do card */
.card_title {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing:2px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;

}
 /*? Descrição do card */
.card_text {
  color: black;
  font-size: 1.0rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  margin: 1rem;
  text-align: center;
}

/*? Botão do card */
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  width: 60%;
  margin-left: 70px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.btn:hover {
  background-color: rgba(201, 52, 52, 0.668);
}

/* ? responsividade do card
 @media (min-width: 40rem) {
  .cards_item {
    width: 40%;
              }
    .card_image {
      width: 350px;
      }
    } */

/* @media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
} */

/* ---------- */