:root {
  /* Paleta Principal */
  --amarelinho: #EDD188;
  --verde_claro: #EDD188;
  --verde_meio_escuro: #A2CA71;
  --verde_escuro: #387F39;

  /* Paleta Secundária */
  --quase_branco: #F8EDE3;
  --quase_mais_escurinho: #DFD3C3;
  --mais_escurinho_branco: #DFD3C3;
  --terracota: #DFD3C3;

  /* gradiente */
  --gradiente: linear-gradient(88deg, var(--amarelinho), var(--verde_meio_escuro), var(--verde_meio_escuro));

}

/* header {
height: 100vh;
background-color:#000;
background-image: url("");
background-position: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

a:hover {
  color: var(--amarelinho);
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_bnt{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_bnt {
  background-color: var(--amarelinho);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight:bold ;
  cursor: pointer;
  transition: scale 0.2 ease ;
}

.action_bnt:hover {
  scale: 1.05;
  color: #fff;
}

.action_bnt:active{
  scale: 0.95;
}

  /* ITEMS MENU */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_bnt {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_bnt {
    display: none;
  }

  .navbar .toggle_bnt {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

}

/* Quando Logar no site irá aparecer */
.quando_logar {
  /* display: none; */
}




















/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  list-style: none;
  padding: 0; 
  margin: 0; 
}

/* Card Styles */
.cards_item {
  background-color: white;
  border-radius: 0.25rem;
  width: 300px; /* Ajusta a altura */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  background: linear-gradient(70deg, #A2CA71 40%, #387F39 100%);
  margin: 10px; 
  font-family: sans-serif; 
  position: relative;
}

/* Responsividade do cards */
@media (max-width: 768px) {
    .cards_item {
        width: calc(100% - 20px);
    }
}

/* Imagem Styles */
.card_image {
  border-radius: 0.25rem;
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  aspect-ratio: 16/9; 
}

/* Title Styles */
.card_title {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  text-align: justify;
  text-overflow: ellipsis; 
  padding: 10px; 
}

/* Description Styles */
.card_text {
  color: black;
  font-size: 17px;
  line-height: 1.5; 
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: justify;
  max-height: 100px; 
  padding: 0 10px 10px; 
}

/* Button Styles */
.bttn {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  width: 70%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

/* Button Styles ao passar o mouse */
 .bttn:hover {
  background-color: var(--links)
}


/* Rodapé */
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 19px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  max-width: 100px;
}

.footer-content h2 p {
  margin: 15px 0;
}

.social-icons i {
  padding: 5px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social-icons a:hover {
  text-decoration: none;
  color: var(--amarelinho);
}

.copyright {
  text-align: center;
  align-items: center;
  font-size: 7px;
  margin-top: 3px;
}


/* Tradutor */
.gtranslate_wrapper {
 z-index: 1000;
}