:root {
  /* Paleta Principal */
  --amarelinho: #EDD188;
  --verde_claro: #EDD188;
  --verde_meio_escuro: #A2CA71;
  --verde_escuro: #387F39;

  /* Paleta Secundária */
  --quase_branco: #F8EDE3;
  --quase_mais_escurinho: #DFD3C3;
  --mais_escurinho_branco: #DFD3C3;
  --terracota: #DFD3C3;

  /* gradiente */
  --gradiente: linear-gradient(88deg, var(--amarelinho), var(--verde_meio_escuro), var(--verde_meio_escuro));
}

body {
  background-color: #eeeeee;
}

.hero {
  background-image: url(../assets/images/Imagem_site.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: ease;
}

@media (max-width: 576px) {
  .hero {
   background-image: url(../assets/images/Imagem_site\ 576px.jpeg);
  }
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links li {
  list-style: none;
}

.dropdown_menu li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.links a:hover {
  color: var(--amarelinho);
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px groove black;
  margin-bottom: 0.1%;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.links {
  font-weight: 500;
}

.navbar .toggle_bnt{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_bnt {
  background-color: var(--amarelinho);
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight:bold ;
  cursor: pointer;
  transition: scale 0.2 ease ;
}

.action_bnt:hover {
  scale: 1.05;
  color: #fff;
}

.action_bnt:active{
  scale: 0.95;
}

  /* ITEMS MENU */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 280px;
  background: #fff;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
  z-index: 10000;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_bnt {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_bnt {
    display: none;
  }

  .navbar .toggle_bnt {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* Quando Logar no site irá aparecer */
.quando_logar {
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

span {
  color: var(--verde_meio_escuro);
}

section {
  padding: 0 19%;
}

.hero-text h2 {
  font-size: 74px;
  line-height: 1;
  margin: 0 0 45px;
  font-weight: bolder;
  user-select: none;
  color: #fff;
}

.hero-text p {
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 35px;
  user-select: none;
  color: #fff;
}

@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1340px){
  .hero-text h2{
    font-size: 50px;
    margin: 0 0 30px;
  }
  .hero-text p{
    font-size: 19px;
    line-height: 1.2;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

.tracinho {
  width:82px;
  height: 1.1px;
  background-color: #DDA77B;
  padding: 6px;
  margin: 8px 0;
}

.container {
  display: flex;
  padding: 20px;
}

.content {
  flex: 2; 
  padding-right: 20px; 
}

.oquee h2 {
  margin-top: 20px;
}

.textp {
  list-style-type: disc;
}

.not {
  flex: 1; 
  padding: 20px;
  border-left: 1px solid #ccc; 
}

@media (max-width: 992px) {
  .container {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  .content {
    flex: 0;
    flex-direction: column;
  }
  .not {
    flex: 0;
    flex-direction: column;
  }
}

.noti {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.oquee h2{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 12px;
  margin-top: 20px;
}

.oquee p{
  font-size: 17px;
  font-style: justify;
}

.textp li{
  font-size: 17px;
  font-style: justify;
}

.textp {
  list-style:inside;
}

.textp span {
  font-weight: bold;
  color: black;
}

/* Responsividade */
@media (max-width: 768px) {
  
  .oquee p{
    text-align: justify;
  }
  
  .textp li{
    text-align: justify;
    margin-left: 0;
  }

  .textp {
    margin-left: 0;
  }
  
  .textp {
    list-style:inside;
  }
}

/* Cards */
.cards_item {
  display: flex; 
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s;
  cursor: pointer; 
  padding-left: 20px;
  align-items: center;
}

.cards_item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card_title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.card_content {
  flex: 1; 
}

.card_image {
  max-width: 100px; 
  margin-left: 15px; 
}

.cards_item {
  text-decoration: none;
  color: inherit; 
}

.card_text {
  font-size: 17px;
}

/* Responsividade */
@media (max-width: 1199px) {
  .card_text {
      display: none;
  }
  .card_title {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .cards_item {
      flex-direction: column; 
      align-items: flex-start; 
  }
  .card_title {
    font-weight: bold;
  }
  .card_image {
      max-width: 100%; 
      margin-left: 0; 
      margin-top: 10px; 
  }
  .card_content {
      width: 100%; 
  }
}

@media (max-width: 480px) {
  .card_image {
      max-width: 100%;
  }
}


/* Rodapé */
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 19px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  max-width: 100px;
}

.footer-content h2 p {
  margin: 15px 0;
}

.social-icons i {
  padding: 5px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social-icons a:hover {
  text-decoration: none;
  color: var(--amarelinho);
}

.copyright {
  text-align: center;
  align-items: center;
  font-size: 7px;
  margin-top: 3px;
}



.compostagem-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3px;
}

.compostagem-container h2 {
  font-size: 15px;
}

.compostagem-container img {
  width: 100px;
  margin: 0 45%;
  user-select: none;
}

.compostagem {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding:  10px 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.compostagem-title {
  user-select: none;
  text-align: center;
}

.compostagem-content {
  display: none;
  text-align: justify;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.compostagem:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.res_comp {
  text-align: left;
  padding: 0%;
}

.res_comp span {
 font-weight: bold;
 color: #000000;
}

.espaco  {
  margin-top: 10px;
}

#animação {
  rotate: 120deg;
  position: absolute;
  bottom: 90px;
  color: red;
  left:100px;
  font-size: 50px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

}

.sumir {
  display:none
}